<div class="main-content">
    <div class="content">
        <p>Your created Urls:</p>
        <div class="url-list">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Short url</th>
                        <th>Original url</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>