.header-title{
    width: 100%;
    min-height: 300px;
    padding-top: 10%;
    padding-bottom: 3%;
    color: white;
    background-color: #49c5b6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/img/pexels-vlado-paunovic-3038740.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

h1.title{
    font-size: 3rem;
}

.menu-options{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #2779a7;
}

.menu-options div{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1%;
}

.menu-options div:hover{
    cursor: pointer;
    background-color: #2779a7;
    color: white;
}