<div class="main-content">
    <div class="content">
        <div class="url-shortener-form">
            <div class="form-floating">
                <p>Write here the url you want to short:</p>
                <textarea class="form-control" placeholder="Write the url here" id="urlTextarea"></textarea>
            </div>
            <button type="button" class="btn btn-primary btn-short-url">Short url</button>
        </div>

        <div class="result-content">
            <p>The url result is:</p>
        </div>
    </div>
</div>
