.content{
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
}

#urlTextarea{
    margin-bottom: 3%;
}

.btn-short-url{
    margin: 0 auto;
}

.result-content{
    margin-top: 10%;
    border: 1px solid green;
    border-radius: 5px;
}
