.content{
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
}

#urlTextarea{
    margin-bottom: 3%;
}

.btn-short-url{
    margin: 0 auto;
}

.result-content{
    margin-top: 10%;
    border-radius: 5px;
}

.result-message{
    display: flex;
    justify-content: space-between;
}

.copy-result:hover{
    cursor: pointer;
}

button{
    background-color: #2779a7;
    border-color: #2779a7;
}

button:hover{
    background-color: #103449;
}